In [9]:
import pandas as pd

In [10]:
dataset = pd.read_csv('taipei_city_real_estate_transaction_v2.csv')
dataset.head()

,district,transaction_type,land_shift_area,urban_land_use,main_use,main_building_material,complete_year,building_shift_total_area,num_room,num_hall,...,unit_ntd,carpark_category,carpark_shift_area,carpark_ntd,transaction_year,transaction_month,building_age,number_of_land,number_of_building,number_of_carpark
0,Zhongzheng District,Land,4.00,Quotient,See other registration items,Not Applicable,0.0000,0.00,0,0,...,400000.000000,Not Applicable,0.0,0,2019,10,2019.0000,1,0,0
1,Wenshan District,Premises (land + building),40.75,Address,See other registration items,Reinforced concrete construction,62.0625,109.36,4,0,...,108357.717630,Not Applicable,0.0,0,2019,10,1956.9375,1,1,0
2,Wenshan District,Premises (land + building),33.81,Address,Resident,Reinforced concrete construction,69.0000,109.42,3,2,...,91390.970572,Not Applicable,0.0,0,2019,10,1950.0000,2,1,0
3,Wenshan District,Premises (land + building) + parking space,32.19,Address,Resident,Reinforced concrete construction,84.0000,163.53,3,2,...,128416.804256,Ramp plane,0.0,0,2019,4,1935.0000,1,1,1
4,Wenshan District,Premises (land + building),60.25,Address,See other registration items,Reinforced concrete construction,108.0000,204.79,3,2,...,328157.624884,Not Applicable,0.0,0,2019,10,1911.0000,1,1,0

In [11]:
# Delete no relation column
dataset = dataset.drop(['transaction_type', 'urban_land_use', 'main_use', 'main_building_material', 'carpark_category'], axis = 1)
dataset.head()

,district,land_shift_area,complete_year,building_shift_total_area,num_room,num_hall,num_toilet,num_partition,management_org,total_ntd,unit_ntd,carpark_shift_area,carpark_ntd,transaction_year,transaction_month,building_age,number_of_land,number_of_building,number_of_carpark
0,Zhongzheng District,4.00,0.0000,0.00,0,0,0,æœ‰,ç„¡,1600000.0,400000.000000,0.0,0,2019,10,2019.0000,1,0,0
1,Wenshan District,40.75,62.0625,109.36,4,0,4,æœ‰,ç„¡,11850000.0,108357.717630,0.0,0,2019,10,1956.9375,1,1,0
2,Wenshan District,33.81,69.0000,109.42,3,2,2,æœ‰,ç„¡,10000000.0,91390.970572,0.0,0,2019,10,1950.0000,2,1,0
3,Wenshan District,32.19,84.0000,163.53,3,2,2,æœ‰,æœ‰,21000000.0,128416.804256,0.0,0,2019,4,1935.0000,1,1,1
4,Wenshan District,60.25,108.0000,204.79,3,2,3,æœ‰,æœ‰,67203400.0,328157.624884,0.0,0,2019,10,1911.0000,1,1,0

In [12]:
# Change number of partition & management organization type
for index in range(len(dataset)):
    if(dataset.loc[index, 'num_partition'] == 'æœ‰'):
        dataset.loc[index, 'num_partition'] = 1
    else:
        dataset.loc[index, 'num_partition'] = 0
    if(dataset.loc[index, 'management_org'] == 'æœ‰'):
        dataset.loc[index, 'management_org'] = 1
    else:
        dataset.loc[index, 'management_org'] = 0
dataset.head()

,district,land_shift_area,complete_year,building_shift_total_area,num_room,num_hall,num_toilet,num_partition,management_org,total_ntd,unit_ntd,carpark_shift_area,carpark_ntd,transaction_year,transaction_month,building_age,number_of_land,number_of_building,number_of_carpark
0,Zhongzheng District,4.00,0.0000,0.00,0,0,0,1,0,1600000.0,400000.000000,0.0,0,2019,10,2019.0000,1,0,0
1,Wenshan District,40.75,62.0625,109.36,4,0,4,1,0,11850000.0,108357.717630,0.0,0,2019,10,1956.9375,1,1,0
2,Wenshan District,33.81,69.0000,109.42,3,2,2,1,0,10000000.0,91390.970572,0.0,0,2019,10,1950.0000,2,1,0
3,Wenshan District,32.19,84.0000,163.53,3,2,2,1,1,21000000.0,128416.804256,0.0,0,2019,4,1935.0000,1,1,1
4,Wenshan District,60.25,108.0000,204.79,3,2,3,1,1,67203400.0,328157.624884,0.0,0,2019,10,1911.0000,1,1,0

In [13]:
# Numbering district
for index in range(len(dataset)):
    if(dataset.loc[index, 'district'] == 'Daan District'):
        dataset.loc[index, 'district'] = 12
    elif(dataset.loc[index, 'district'] == 'Xinyi District'):
        dataset.loc[index, 'district'] = 11
    elif(dataset.loc[index, 'district'] == 'Zhongzheng District'):
        dataset.loc[index, 'district'] = 10
    elif(dataset.loc[index, 'district'] == 'Songshan District'):
        dataset.loc[index, 'district'] = 9
    elif(dataset.loc[index, 'district'] == 'Zhongshan Area'):
        dataset.loc[index, 'district'] = 8
    elif(dataset.loc[index, 'district'] == 'shihlin'):
        dataset.loc[index, 'district'] = 7
    elif(dataset.loc[index, 'district'] == 'Neihu District'):
        dataset.loc[index, 'district'] = 6
    elif(dataset.loc[index, 'district'] == 'Datong District'):
        dataset.loc[index, 'district'] = 5
    elif(dataset.loc[index, 'district'] == 'Nangang District'):
        dataset.loc[index, 'district'] = 4
    elif(dataset.loc[index, 'district'] == 'Beitou'):
        dataset.loc[index, 'district'] = 3
    elif(dataset.loc[index, 'district'] == 'Wanhua District'):
        dataset.loc[index, 'district'] = 2
    elif(dataset.loc[index, 'district'] == 'Wenshan District'):
        dataset.loc[index, 'district'] = 1
dataset.head()

,district,land_shift_area,complete_year,building_shift_total_area,num_room,num_hall,num_toilet,num_partition,management_org,total_ntd,unit_ntd,carpark_shift_area,carpark_ntd,transaction_year,transaction_month,building_age,number_of_land,number_of_building,number_of_carpark
0,10,4.00,0.0000,0.00,0,0,0,1,0,1600000.0,400000.000000,0.0,0,2019,10,2019.0000,1,0,0
1,1,40.75,62.0625,109.36,4,0,4,1,0,11850000.0,108357.717630,0.0,0,2019,10,1956.9375,1,1,0
2,1,33.81,69.0000,109.42,3,2,2,1,0,10000000.0,91390.970572,0.0,0,2019,10,1950.0000,2,1,0
3,1,32.19,84.0000,163.53,3,2,2,1,1,21000000.0,128416.804256,0.0,0,2019,4,1935.0000,1,1,1
4,1,60.25,108.0000,204.79,3,2,3,1,1,67203400.0,328157.624884,0.0,0,2019,10,1911.0000,1,1,0

In [14]:
dataset.to_csv('./District/NumberingDistrict.csv', index = False)