In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('taipei_city_real_estate_transaction_v2.csv')
dataset.head()

,district,transaction_type,land_shift_area,urban_land_use,main_use,main_building_material,complete_year,building_shift_total_area,num_room,num_hall,...,unit_ntd,carpark_category,carpark_shift_area,carpark_ntd,transaction_year,transaction_month,building_age,number_of_land,number_of_building,number_of_carpark
0,Zhongzheng District,Land,4.00,Quotient,See other registration items,Not Applicable,0.0000,0.00,0,0,...,400000.000000,Not Applicable,0.0,0,2019,10,2019.0000,1,0,0
1,Wenshan District,Premises (land + building),40.75,Address,See other registration items,Reinforced concrete construction,62.0625,109.36,4,0,...,108357.717630,Not Applicable,0.0,0,2019,10,1956.9375,1,1,0
2,Wenshan District,Premises (land + building),33.81,Address,Resident,Reinforced concrete construction,69.0000,109.42,3,2,...,91390.970572,Not Applicable,0.0,0,2019,10,1950.0000,2,1,0
3,Wenshan District,Premises (land + building) + parking space,32.19,Address,Resident,Reinforced concrete construction,84.0000,163.53,3,2,...,128416.804256,Ramp plane,0.0,0,2019,4,1935.0000,1,1,1
4,Wenshan District,Premises (land + building),60.25,Address,See other registration items,Reinforced concrete construction,108.0000,204.79,3,2,...,328157.624884,Not Applicable,0.0,0,2019,10,1911.0000,1,1,0

In [3]:
# One hot encoding for transaction type
# Add land, building, garage column
dataset = dataset.assign(land = 0, building = 0, garage = 0)
# Analysis transaction type
for index in range(len(dataset)):
    if(dataset.loc[index, 'transaction_type'] == 'Land'):
        dataset.loc[index, 'land'] = 1
    elif(dataset.loc[index, 'transaction_type'] == 'Building'):
        dataset.loc[index, 'building'] = 1
    elif(dataset.loc[index, 'transaction_type'] == 'Garage'):
        dataset.loc[index, 'garage'] = 1
    elif(dataset.loc[index, 'transaction_type'] == 'Premises (land + building)'):
        dataset.loc[index, 'land'] = 1
        dataset.loc[index, 'building'] = 1
    elif(dataset.loc[index, 'transaction_type'] == 'Premises (land + building) + parking space'):
        dataset.loc[index, 'land'] = 1
        dataset.loc[index, 'building'] = 1
        dataset.loc[index, 'garage'] = 1
    else:
        print("!!!ERROR!!!")
dataset = dataset.drop(['transaction_type'], axis = 1)
dataset.head()

,district,land_shift_area,urban_land_use,main_use,main_building_material,complete_year,building_shift_total_area,num_room,num_hall,num_toilet,...,carpark_ntd,transaction_year,transaction_month,building_age,number_of_land,number_of_building,number_of_carpark,land,building,garage
0,Zhongzheng District,4.00,Quotient,See other registration items,Not Applicable,0.0000,0.00,0,0,0,...,0,2019,10,2019.0000,1,0,0,1,0,0
1,Wenshan District,40.75,Address,See other registration items,Reinforced concrete construction,62.0625,109.36,4,0,4,...,0,2019,10,1956.9375,1,1,0,1,1,0
2,Wenshan District,33.81,Address,Resident,Reinforced concrete construction,69.0000,109.42,3,2,2,...,0,2019,10,1950.0000,2,1,0,1,1,0
3,Wenshan District,32.19,Address,Resident,Reinforced concrete construction,84.0000,163.53,3,2,2,...,0,2019,4,1935.0000,1,1,1,1,1,1
4,Wenshan District,60.25,Address,See other registration items,Reinforced concrete construction,108.0000,204.79,3,2,3,...,0,2019,10,1911.0000,1,1,0,1,1,0

In [4]:
# One hot encoding for urban land use
urbanLandUse = pd.get_dummies(dataset.urban_land_use)
dataset = dataset.merge(urbanLandUse, left_index = True, right_index = True)
dataset = dataset.drop(['urban_land_use'], axis = 1)
# One hot encoding for main use
mainUse = pd.get_dummies(dataset.main_use)
dataset = dataset.merge(mainUse, left_index = True, right_index = True)
dataset = dataset.drop(['main_use'], axis = 1)
# One hot encoding for main building material
mainBuildingMaterial = pd.get_dummies(dataset.main_building_material)
dataset = dataset.merge(mainBuildingMaterial, left_index = True, right_index = True)
dataset = dataset.drop(['main_building_material'], axis = 1)
# One hot encoding for carpark category
carparkCategory = pd.get_dummies(dataset.carpark_category)
dataset = dataset.merge(carparkCategory, left_index = True, right_index = True)
dataset = dataset.drop(['carpark_category'], axis = 1)
dataset.head()

,district,land_shift_area,complete_year,building_shift_total_area,num_room,num_hall,num_toilet,num_partition,management_org,total_ntd,...,Wall type reinforced concrete construction,Wooden,Ground floor,Lifting machinery,Lifting plane,Not Applicable_y,Other_y,Ramp machinery,Ramp plane,Tower parking
0,Zhongzheng District,4.00,0.0000,0.00,0,0,0,有,無,1600000.0,...,0,0,0,0,0,1,0,0,0,0
1,Wenshan District,40.75,62.0625,109.36,4,0,4,有,無,11850000.0,...,0,0,0,0,0,1,0,0,0,0
2,Wenshan District,33.81,69.0000,109.42,3,2,2,有,無,10000000.0,...,0,0,0,0,0,1,0,0,0,0
3,Wenshan District,32.19,84.0000,163.53,3,2,2,有,有,21000000.0,...,0,0,0,0,0,0,0,0,1,0
4,Wenshan District,60.25,108.0000,204.79,3,2,3,有,有,67203400.0,...,0,0,0,0,0,1,0,0,0,0

In [5]:
# Change number of partition & management organization type
for index in range(len(dataset)):
    if(dataset.loc[index, 'num_partition'] == '有'):
        dataset.loc[index, 'num_partition'] = 1
    else:
        dataset.loc[index, 'num_partition'] = 0
    if(dataset.loc[index, 'management_org'] == '有'):
        dataset.loc[index, 'management_org'] = 1
    else:
        dataset.loc[index, 'management_org'] = 0
dataset.head()

,district,land_shift_area,complete_year,building_shift_total_area,num_room,num_hall,num_toilet,num_partition,management_org,total_ntd,...,Wall type reinforced concrete construction,Wooden,Ground floor,Lifting machinery,Lifting plane,Not Applicable_y,Other_y,Ramp machinery,Ramp plane,Tower parking
0,Zhongzheng District,4.00,0.0000,0.00,0,0,0,1,0,1600000.0,...,0,0,0,0,0,1,0,0,0,0
1,Wenshan District,40.75,62.0625,109.36,4,0,4,1,0,11850000.0,...,0,0,0,0,0,1,0,0,0,0
2,Wenshan District,33.81,69.0000,109.42,3,2,2,1,0,10000000.0,...,0,0,0,0,0,1,0,0,0,0
3,Wenshan District,32.19,84.0000,163.53,3,2,2,1,1,21000000.0,...,0,0,0,0,0,0,0,0,1,0
4,Wenshan District,60.25,108.0000,204.79,3,2,3,1,1,67203400.0,...,0,0,0,0,0,1,0,0,0,0

In [90]:
dataset.to_csv('./District/BeforeSeparateDistrict.csv')

In [91]:

district = ['Daan District', 'shihlin', 'Nangang District', 'Songshan District', 'Neihu District', 'Beitou', 'Zhongzheng District', 'Wenshan District', 'Xinyi District', 'Datong District', 'Zhongshan Area', 'Wanhua District']
for index, key in dataset.groupby('district'):
    key = key.drop(['district'], axis = 1)
    key.to_csv('./District/{}.csv'.format(index), header = True, index_label = 'Index')