In [24]:
import pandas as pd  
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import matplotlib.pyplot as plt

In [3]:
# encoding: utf-8
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
#import numpy as np

Data = pd.read_csv("./taipei_city_real_estate_transaction_v2.csv")
temp = pd.get_dummies(Data.district)
#temp = temp.drop(['district'], axis=1)
#temp = pd.concat([Data,temp])
Data = Data.join(temp)

temp = pd.get_dummies(Data.carpark_category)
Data = Data.join(temp)

temp = pd.get_dummies(Data.main_building_material)
#Data = pd.merge([Data,temp])
Data = Data.merge(temp, left_index=True, right_index=True) 

temp = pd.get_dummies(Data.main_use)
#Data = Data.join(temp)
#Data = pd.concat([Data,temp])
Data = Data.merge(temp, left_index=True, right_index=True) 

temp = pd.get_dummies(Data.transaction_type)
#temp = Data.join(temp)
#temp = pd.concat([Data,temp])
Data = Data.merge(temp, left_index=True, right_index=True) 

Data = Data.drop(['district','transaction_type','main_use','main_building_material','carpark_category'],axis=1)

#temp = temp.drop(['district'], axis=1)

for i in range(len(Data)):
    if Data.loc[i, 'num_partition'] == '有':
        Data.loc[i, 'num_partition'] = 1
    else:
        Data.loc[i, 'num_partition'] = 0
    if Data.loc[i, 'management_org'] == '有':
        Data.loc[i, 'management_org'] = 1
    else:
        Data.loc[i, 'management_org'] = 0


#temp.to_csv('One.csv',encoding='utf8')
'''
# Classification data by "urban_land_use" and discard(throw away) "Other" & "Others"
Data1 = Data[Data['urban_land_use'].isin(['work'])]
Data2 = Data[Data['urban_land_use'].isin(['Quotient'])]
Data3 = Data[Data['urban_land_use'].isin(['Address'])]
Data4 = Data[Data['urban_land_use'].isin(['Agriculture'])]

# Generate CSV
Data1.to_csv('work.csv',encoding='utf8') 
Data2.to_csv('Quotient.csv',encoding='utf8') 
Data3.to_csv('Address.csv',encoding='utf8') 
Data4.to_csv('Agriculture.csv',encoding='utf8') 


#district
#transaction_type
#main_use
#main_building_material
#carpark_category
'''
Data.to_csv('allData.csv', encoding = 'utf8')
print('OK')

OK

In [7]:
#Data = Data.drop(columns=['urban_land_use'])
Data

,land_shift_area,complete_year,building_shift_total_area,num_room,num_hall,num_toilet,num_partition,management_org,total_ntd,unit_ntd,...,Resident,Residential business,See license_y,See other registration items_y,industrial use,Building,Garage,Land,Premises (land + building),Premises (land + building) + parking space
0,4.00,0.000000,0.00,0,0,0,1,0,1600000.0,400000.000000,...,0,0,0,1,0,0,0,1,0,0
1,40.75,62.062500,109.36,4,0,4,1,0,11850000.0,108357.717630,...,0,0,0,1,0,0,0,0,1,0
2,33.81,69.000000,109.42,3,2,2,1,0,10000000.0,91390.970572,...,1,0,0,0,0,0,0,0,1,0
3,32.19,84.000000,163.53,3,2,2,1,1,21000000.0,128416.804256,...,1,0,0,0,0,0,0,0,0,1
4,60.25,108.000000,204.79,3,2,3,1,1,67203400.0,328157.624884,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5905,13.10,67.000000,46.22,3,1,1,1,0,5500000.0,118996.105582,...,1,0,0,0,0,0,0,0,1,0
5906,24.75,89.000000,122.18,3,2,2,1,1,24000000.0,196431.494516,...,1,0,0,0,0,0,0,0,0,1
5907,29.04,73.114286,116.50,5,3,3,1,0,13450000.0,115450.643777,...,1,0,0,0,0,0,0,0,1,0
5908,41.71,87.000000,155.03,3,2,2,1,1,37720000.0,243307.746888,...,1,0,0,0,0,0,0,0,0,1
5909,22.36,91.375000,103.03,3,1,1,1,0,11130000.0,108026.788314,...,0,0,0,1,0,0,0,0,1,0

In [26]:
X = Data.drop(columns=['unit_ntd']).values
y = Data['unit_ntd'].values

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [28]:
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [36]:
y_test = regressor.predict(X_test)

1182

In [39]:
y_test

array([203770.20445118, 229248.19521471, 163521.96616506, ...,
       232516.05293726, 123788.78010934, 249843.95611245])