In [24]:
import pandas as pd  
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv("./allData.csv")
data = data.drop(columns = ['district'])
data

,Unnamed: 0,land_shift_area,complete_year,building_shift_total_area,num_room,num_hall,num_toilet,num_partition,management_org,total_ntd,...,Steel reinforced concrete construction,Stone building,Strengthen brickwork,Wall type reinforced concrete construction,Wooden,Building,Garage,Land,Premises (land + building),Premises (land + building) + parking space
0,0,4.00,0.000000,0.00,0,0,0,1,0,1600000.0,...,0,0,0,0,0,0,0,1,0,0
1,1,40.75,62.062500,109.36,4,0,4,1,0,11850000.0,...,0,0,0,0,0,0,0,0,1,0
2,2,33.81,69.000000,109.42,3,2,2,1,0,10000000.0,...,0,0,0,0,0,0,0,0,1,0
3,3,32.19,84.000000,163.53,3,2,2,1,1,21000000.0,...,0,0,0,0,0,0,0,0,0,1
4,4,60.25,108.000000,204.79,3,2,3,1,1,67203400.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5905,5905,13.10,67.000000,46.22,3,1,1,1,0,5500000.0,...,0,0,0,0,0,0,0,0,1,0
5906,5906,24.75,89.000000,122.18,3,2,2,1,1,24000000.0,...,0,0,0,0,0,0,0,0,0,1
5907,5907,29.04,73.114286,116.50,5,3,3,1,0,13450000.0,...,0,0,0,0,0,0,0,0,1,0
5908,5908,41.71,87.000000,155.03,3,2,2,1,1,37720000.0,...,0,0,0,0,0,0,0,0,0,1
5909,5909,22.36,91.375000,103.03,3,1,1,1,0,11130000.0,...,0,0,0,0,0,0,0,0,1,0

In [18]:
#Model
reg = LinearRegression()
#Data and target
X = data.drop(columns=['total_ntd']).values
y = data['total_ntd'].values
#Cross validation
#Score = ((y_true - y_pred) ^ 2).sum()
predicted = cross_validate(reg, X, y, cv = 10)
predicted

{'fit_time': array([0.00500488, 0.00400019, 0.00500131, 0.00400019, 0.00400114,
        0.00400066, 0.00400114, 0.00400066, 0.0040009 , 0.0040009 ]),
 'score_time': array([0.        , 0.00100064, 0.        , 0.00100017, 0.        ,
        0.00100017, 0.        , 0.00100017, 0.        , 0.        ]),
 'test_score': array([-0.23559793,  0.35665632,  0.40336177,  0.64413362,  0.38680132,
        -0.05035018,  0.13077248,  0.7503475 , -1.71106908,  0.64940184])}

In [25]:
#Model
reg = DecisionTreeRegressor()
#Data and target
X = data.drop(columns=['total_ntd']).values
y = data['total_ntd'].values
#Cross validation
#Score = ((y_true - y_pred) ^ 2).sum()
predicted = cross_validate(reg, X, y, cv = 10)
predicted

{'fit_time': array([0.04901385, 0.04901123, 0.04901075, 0.05101776, 0.04894996,
        0.04786897, 0.04652715, 0.04760981, 0.04801059, 0.04901266]),
 'score_time': array([0.00100017, 0.        , 0.00100112, 0.        , 0.00100088,
        0.        , 0.        , 0.        , 0.00100088, 0.        ]),
 'test_score': array([-19.64367386,  -0.05871638,   0.15849305,   0.80626197,
          0.69636463, -15.02925967,   0.04931383,   0.78269477,
        -12.82786582,   0.60777206])}