In [1]:
import pandas as pd  
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("./allData.csv")
data = data.drop(columns = ['district'])
data

,Unnamed: 0,land_shift_area,complete_year,building_shift_total_area,num_room,num_hall,num_toilet,num_partition,management_org,total_ntd,...,Steel reinforced concrete construction,Stone building,Strengthen brickwork,Wall type reinforced concrete construction,Wooden,Building,Garage,Land,Premises (land + building),Premises (land + building) + parking space
0,0,4.00,0.000000,0.00,0,0,0,1,0,1600000.0,...,0,0,0,0,0,0,0,1,0,0
1,1,40.75,62.062500,109.36,4,0,4,1,0,11850000.0,...,0,0,0,0,0,0,0,0,1,0
2,2,33.81,69.000000,109.42,3,2,2,1,0,10000000.0,...,0,0,0,0,0,0,0,0,1,0
3,3,32.19,84.000000,163.53,3,2,2,1,1,21000000.0,...,0,0,0,0,0,0,0,0,0,1
4,4,60.25,108.000000,204.79,3,2,3,1,1,67203400.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5905,5905,13.10,67.000000,46.22,3,1,1,1,0,5500000.0,...,0,0,0,0,0,0,0,0,1,0
5906,5906,24.75,89.000000,122.18,3,2,2,1,1,24000000.0,...,0,0,0,0,0,0,0,0,0,1
5907,5907,29.04,73.114286,116.50,5,3,3,1,0,13450000.0,...,0,0,0,0,0,0,0,0,1,0
5908,5908,41.71,87.000000,155.03,3,2,2,1,1,37720000.0,...,0,0,0,0,0,0,0,0,0,1
5909,5909,22.36,91.375000,103.03,3,1,1,1,0,11130000.0,...,0,0,0,0,0,0,0,0,1,0

In [5]:
#Model
reg = LinearRegression()
#Data and target
X = data.drop(columns=['total_ntd']).values
y = data['total_ntd'].values
#Cross validation
#Score = ((y_true - y_pred) ^ 2).sum()
predicted = cross_validate(reg, X, y, cv = 10)
predicted

{'fit_time': array([0.02711606, 0.0311203 , 0.01724982, 0.01803803, 0.02065277,
        0.02098918, 0.02717781, 0.01875138, 0.016922  , 0.01607323]),
 'score_time': array([0.0022161 , 0.0009973 , 0.00289989, 0.        , 0.        ,
        0.        , 0.00099754, 0.        , 0.        , 0.00099683]),
 'test_score': array([-0.23559793,  0.35665632,  0.40336177,  0.64413362,  0.38680132,
        -0.05035018,  0.13077248,  0.7503475 , -1.71106908,  0.64940184])}

In [31]:
from sklearn.model_selection import cross_val_predict
predict_ntd = cross_val_predict(reg, X, y ,cv = 10)
display(abs(y - predict_ntd))
#predict_ntd

array([ 1939250.,   150000.,  1974291., ..., 12550000., 12520000.,
        3130000.])

In [33]:
#Model
reg = DecisionTreeRegressor()
#Data and target
X = data.drop(columns=['total_ntd']).values
y = data['total_ntd'].values
#Cross validation
#Score = ((y_true - y_pred) ^ 2).sum()
predicted = cross_validate(reg, X, y, cv = 10)
predicted

{'fit_time': array([0.15068698, 0.14623809, 0.14522099, 0.14357591, 0.14204144,
        0.13805509, 0.12893462, 0.14129281, 0.13372684, 0.12968922]),
 'score_time': array([0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.01562238]),
 'test_score': array([-21.39231692,  -0.06629144,   0.1728504 ,   0.85089657,
          0.70715181, -15.08675469,   0.06228613,   0.78630775,
        -13.54953407,   0.62187008])}

In [35]:
from sklearn.model_selection import cross_val_predict
predict_ntd = cross_val_predict(reg, X, y ,cv = 10)
display(abs(y - predict_ntd))
display(abs(y - predict_ntd).mean())
#predict_ntd

array([ 1939250., 12100000.,  1974291., ..., 12550000., 17720000.,
        3130000.])

11784362.459221657